<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <%= link_to "Додати новий екіпаж до системи", new_crew_path, class: "btn btn-lg btn-primary btn-block", id: "new-crew-button" %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="panel panel-default">
        <div class="panel-body">
          <table id="crews">
            <thead>
              <tr>
                <th data-field="crew_name">Назва екіпажу</th>
                <th data-field="car_number">Номер автомобіля екіпажу</th>
                <th data-field="vin_number">VIM номер екіпажу</th>
                <th data-field="underway">Стан автомобіля</th>
                <th data-field="on_a_mission">Статус екіпажу</th>
                <th data-field="created_at">Запис створено</th>
              </tr>
            </thead>

            <tbody>
              <% @crews.each do |crew| %>
              <tr>
                <td>
                  <%= link_to crew.crew_name, edit_crew_path(crew), data: { "no-turbolink" => true }  %>
                </td>
                <td>
                  <%= crew.car_number %>
                </td>
                <td>
                  <%= crew.vin_number %>
                </td>
                <td>
                  <%= crew.on_duty ? "Робочий" : "На ремонті" %>
                </td>
                <td>
                  <%= crew.on_a_mission ? "Вільний" : "На завданні" %>
                </td>
                <td>
                  <%= crew.created_at%>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
