<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Керування заявами</h3>
        </div>
        <div class="panel-body">

        </div>
      </div>
    </div>
    <div class="col-md-10">
      <div class="panel panel-primary">
        <div class="panel-body">
          <table id="claims">
            <thead>
              <tr>
                <th data-field="victim">ПІБ свідка</th>
                <th data-field="phone_number">Номер телефону</th>
                <th data-field="created_at">Статус</th>
                <th data-field="theme">Тема звернення</th>
                <th data-field="created_at">Надіслано</th>
                <th data-field="view"></th>
              </tr>
            </thead>

            <tbody>
              <% @claim.each do |claim| %>
              <tr class="<%= claim.status == false ? 'danger' : '' %>">
                <td>
                  <%= claim.lastname %>
                </td>
                <td>
                  <%= claim.phone %>
                </td>
                <td>
                  <%= claim.status == true ? "Розглянуто" : "<b>Не розглянуто</b>".html_safe  %>
                </td>
                <td>
                  <%= truncate(claim.theme, length: 65) %>
                </td>
                <td>
                  <%= claim.created_at.strftime("%d.%m.%Y") %>
                </td>
                <td>
                  <%= link_to "Переглянути", claims_path(claim) %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
