<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Керування заявами</h3>
        </div>
        <div class="panel-body">
          <h4>Нових заяв
            <% if @claim %>
              <span class="label label-primary"><%= @claim.where("status = ?", false).count %></span>
            <% else %>
              не надійшло.
            <% end %>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Перегляд усіх прийнятих заяв</h3>
        </div>
        <div class="panel-body">
          <table id="claims">
            <thead>
              <tr>
                <th data-field="victim">ПІБ Свідка</th>
                <th data-field="phone_number">Номер телефону</th>
                <th data-field="created_at">Статус</th>
                <th data-field="theme">Тема звернення</th>
                <th data-field="created_at">Надіслано</th>
              </tr>
            </thead>

            <tbody>
              <% @claim.each do |claim| %>
              <tr class="<%= claim.status == false ? 'info' : '' %>">
                <td>
                  <%= link_to claim.lastname, claim.status == false ? edit_claim_path(claim) : claim_path(claim), data: {"no-turbolink" => true } %>
                </td>
                <td>
                  <%= claim.phone %>
                </td>
                <td>
                  <%= claim.status == true ? "Розглянуто (#{claim.updated_at.strftime("%d.%m.%Y")})" : "<b>Не розглянуто</b>".html_safe  %>
                </td>
                <td>
                  <%= truncate(claim.theme, length: 65) %>
                </td>
                <td>
                  <%= claim.created_at.strftime("%d.%m.%Y") %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
