<%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=geometry&key=#{APP_CONFIG['google-map-key']}" %>
<%= render "shared/check_windows/is_crew_selected" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <div id="map-container">
         <div id="map-canvas"></div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="fixed-list">
        <% if !@claim.status %>
          <%= form_for @claim do |f| %>
          <div class="row">
            <%= f.collection_check_boxes :crew_ids, @crews, :id, :crew_name do |field| %>
            <div class="col-md-12">
              <div class="card-element">
                Екіпаж <%= field.check_box  %> <%= field.label %>
              </div>
            </div>
            <% end %>
            <div class="col-md-12">
              <%= f.submit "Надати наказ", class: "btn btn-danger  btn-block", id: "send-crew-button", data: {toggle: "send-crew"} %>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render "shared/js/map_builder" %>
