<div class="container-fluid">
  <div class="row">
    <%= form_tag claims_path, method: 'get' do %>
    <div class="col-md-8 col-md-offset-2">
      <h3>Пошук заяви у системі</h3>
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <%= label_tag :claim_id, "Номер Вашої заяви", class: "control-label pull-left" %>
            <%= text_field_tag :claim_id,
                                  params[:claim_id],
                                  placeholder: "17222",
                                  class: "form-control",
                                  pattern: "[0-9]{1,10}",
                                  required: true %>
          </div>
        </div>

        <div class="col-md-5">
          <div class="form-group">
            <%= label_tag :phone_number, "Ваш номер телефону", class: "control-label pull-left" %>
            <%= text_field_tag :phone_number,
                                  params[:phone_number],
                                  placeholder: "+ 38(044)3344553",
                                  class: "form-control",
                                  pattern: "[+][0-9]{1,2}[(][0-9]{2,6}[)][0-9]{3,10}",
                                  required: true %>
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <%= submit_tag "Search", :name => nil, class: "btn btn-lg btn-primary btn-block", id: "first-coordinates-button", value: "Шукати" %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <% if @claim %>
        <% @claim.each do |claim| %>
          <%= link_to "Переглянути", claim_path(claim) %>
        <% end %>
      <% else %>
        <h4>Введіть необхідну інформацію для пошуку</h4>
      <% end %>
    </div>
  </div>
</div>
