<div class="container-fluid">
  <% @paragraphs.each_with_index do |paragraph, index| %>
  <div class="a4-document centered">
    <% if index == 0 %>
      <%= render "claims/document/header" %>
    <% else %>
      <%= render "claims/document/document_title" %>
    <% end %>
    <div class="row">
      <div class="col-md-10 col-md-offset-1 a4-document-header-space">
        <p><%= paragraph %></p>
      </div>
    </div>
    <% if index == @paragraphs.count - 1 %>
      <%= render "claims/document/status" %>
      <%= render "claims/document/footer" %>
    <% end %>
    <div id="a4-page-number">
      <%= index + 1 if @paragraphs.count != 1 %>
    </div>
  </div>
  <% end %>
</div>
