<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="card bottom-space">
        <div class="row">
          <div class="col-md-5 col-md-offset-7 vertical-space">
            <small>
              Заява №<b><%= @claim.id %></b>
            </small>
          </div>
          <div class="col-md-5 col-md-offset-7">
            <small>
              Потерпілий: <b><%= @claim.lastname %></b>
            </small>
          </div>
          <div class="col-md-5 col-md-offset-7">
            <small>
              Тел.: <b><%= @claim.phone %></b>
            </small>
          </div>
        </div>
        <div class="row">
          <%= image_tag "system/gerald", class: "centered vertical-space", height: "80" %>
          <h2 class="text-center"><b>Національна Поліція України</b></h2>
        </div>
        <div class="row vertical-space">
          <h3 class="text-center">Заява</h3>
        </div>
        <div class="row vertical-space">
          <div class="col-md-10 col-md-offset-1">
            <p><b>Тема звернення: </b><%= @claim.theme %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <p><%= @claim.text %></p>
          </div>
        </div>
        <div class="row vertical-space">
          <div class="col-md-10 col-md-offset-1">

            <p><b>Тема звернення: </b><%= @claim.theme %></p>
          </div>
        </div>
        <% if @claim.status %>
          <div class="row vertical-space bottom-space">
            <div class="col-md-10 col-md-offset-1">
              <% @officer = Administrator.find(@claim.administrator_id)  %>

              <b>Статус заяви:</b> <i>Розглянуто</i></b></br>
              <b>Заяву розглянув:</b> <%= @officer.lastname %></br>
              <b>Персоналний номер:</b> <%= @officer.personal_number %>
            </div>
          </div>
        <% else %>
          <div class="row vertical-space bottom-space">
            <div class="col-md-10 col-md-offset-1">
              <b>Статус заяви:</b> <i>Не розглянуто</i>
            </div>
          </div>
        <% end %>
        <div class="row vertical-space bottom-double-space">
          <div class="col-md-4 col-md-offset-2">
            Підпис: _______________
          </div>
          <div class="col-md-5 col-md-offset-1">
            Дата: <%= @claim.created_at.strftime("%d.%m.%Y") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
