<div class="container-fluid">
  <div class="a4-document centered">
    <%= render "claims/document/header" %>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <p><%= @claim.text %></p>
        <p>pppppppppppppppppp ppppppppppppppppppppppp pppppppppppppppppppppp ppppppppppppppp pppppppp pppppppppppppppppppppppppppp</p>
      </div>
    </div>
    <%= render "claims/document/status" %>
    <%= render "claims/document/footer" %>
  </div>
  <div class="a4-document centered">
    <div class="col-md-10 col-md-offset-1 vertical-space">
      <p><%= @claim.text %></p>
      <p>pppppppppppppppppp ppppppppppppppppppppppp pppppppppppppppppppppp ppppppppppppppp pppppppp pppppppppppppppppppppppppppp</p>
    </div>
  </div>
  </div>
</div>
