<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header hidden-xs">
      <%= link_to root_path, class: "navbar-brand" do  %>
      <%= image_tag "system/gerald.gif", class: "gerald", alt: "Brand"%>
      <% end %>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to "Громадська фіксація правопорушень", root_path, class: "brand-name" %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right hidden-xs">
      <% if current_administrator %>
      <li>
        <%= link_to current_administrator.lastname, current_administrator, class: "navbar-link" %>
      </li>
      <li>
        <%= link_to logout_path, method: "delete", class: "navbar-link" do %>
          <span class="glyphicon glyphicon-user navbar-link"></span> Вийти
        <% end %>
      </li>
    <% else %>
      <li>
        <%= link_to login_path, class: "navbar-link" do %>
        <span class="glyphicon glyphicon-log-in navbar-link"></span>
        Увійти
        <% end %>
      </li>
      <% end %>

    </ul>
  </div>
</nav>
