<div class="row">
  <div class="col-md-3">
    <%= link_to map_path, data: { "no-turbolink" => true } do %>
    <%= image_tag "system/map.png", class: "img-responsive", alt: "Мапа" %>
    <% end %>
    <p>
      <h3>Перегляд мапи</h3>
    </p>
    <%= link_to "Відображення поточних заяв на мапі, а також місцезнаходження патрулів.", map_path, class: "simply-link", data: { "no-turbolink" => true } %>
  </div>
  <div class="col-md-3">
    <%= link_to new_claim_path do %>
    <%= image_tag "system/phone.png", class: "img-responsive", alt: "Терміновий виклик" %>
    <% end %>
    <p>
      <h3>Терміновий виклик</h3>
    </p>
    <%= link_to "Реєстрація термінових викликів за телефоном.", new_claim_path, class: "simply-link" %>
  </div>
  <div class="col-md-3">
    <%= link_to allincomeclaims_path do %>
    <%= image_tag "system/search.png", class: "img-responsive", alt: "Пошук у системі" %>
    <% end %>
    <p>
      <h3>Пошук у системі</h3>
    </p>
    <%= link_to "Пошук наявних у базі даних заяв.", allincomeclaims_path, class: "simply-link" %>
  </div>
  <div class="col-md-3">
    <%= link_to crews_path do %>
    <%= image_tag "system/car.png", class: "img-responsive", alt: "Керування екіпажами" %>
    <% end %>
    <p>
      <h3>Керування екіпажами</h3>
    </p>
    <%= link_to "Перегляд наявних екіпажів та їх редагування", crews_path, class: "simply-link" %>
  </div>
</div>
