<div class="page-header">
  <h1>Проект "Громадська фіксація правопорушень"</h1>
</div>
<div class="login">
  <div class="container">
    <div class="form">
<div class="row">

     <div class="jumbotron">
       <div class="container">
  <h1>ПОЛІЦІЯ</h1>
  <p>ПАУ ПАУ</p>
  <p><a class="btn btn-primary btn-lg" role="button">Дізнатись більше</a></p>
</div>
</div>
    <h1>Зареєструватися</h1>
       <div class="field">
      <%= form_for(@administrator) do |f| %>

      <%= f.text_field :name, :placeholder => "Ім’я" %>
      <%= f.text_field :login, :placeholder => "Логін" %>
      <%= f.password_field :password, :placeholder => "Пароль" %>
      <%= f.submit "Створити обліковий запис", class: "btn-submit" %>

      <% end %>
      </div>



    </div>
  </div>
</div>
